.container {
  width: 700px;
  height: 200px;
  /* 가운데 정렬하고 싶다면? */
  display: block;
  margin-left: auto;
  margin-right: auto; 
  /* background-color: gray; */
}

.textbox {
  width: 70%;
  height: 100%;
  /* background-color: red; */
  float: left;
}

.profile {
  width: 100%;
  height: 25%;
  /* background-color: green; */
}


.profileImage {
  width: 50px;
  margin: 10px;
  float: left;
  
}

.nickname {
color: gray;
float: left;
margin: 10px auto 5px auto;
}


.content {
  width: 90%;
  height: 50%;
  margin: 10px;
  /* background-color: orange; */
  font-family: 'Nanum Myeongjo';
  clear: both;
}

h2 {
  font-weight: 900;
}

.imagebox {
  width: 200px;
  height: 200px;
  /* background-color: blue; */
  float: left;
}


.img {
  width: 90%;
  height: 90%;
  margin: 10px auto 30px auto;
  border-radius: 10px;
}



