div, input, textarea {
  box-sizing : border-box;
}

body {
  margin : 0;
	padding: 0;
}

html {
  line-height : 1.15; /*기본 행간 높이*/
}

table {
  border-collapse: collapse;
}

td, th {
  border: 0.5px solid rgb(195, 185, 185);
  border-left: none;
  border-right: none;
  border-top: none;
}


/* ------CSS Reset----- */

.container {
  width: 100%;
}


.background {
  background: #b2ccd6;
  width: 80%;
  height: 300px;
  margin: 0 auto;
  margin-top: 40px;
}

.table {
  background-color: white;
  border-radius: 5px;
  width: 70%;
  margin: 0 auto;
  margin-top: 80px;
  float: left;
  margin-left: 20px;

.title, span {
  color: gray;
  font-family: 'Roboto Mono', monospace;
  font-size: 10px;

}

.logo img {
  width: 30px;
}

.logo {
  display: block;
  width: 190px;
  height: 40px;
}

.amount {
  text-align: right;
}


.totalAmount {
  font-weight: 700;
  color: rgb(5, 5, 102);
  font-size: 10px;
}}