html {
  line-height : 1.15; /*기본 행간 높이*/
  font-family: gulim;
  transform: rotate(0.03deg); /*안티앨라이싱 적용 */

}

/* 패딩값과 테두리값이 포함된 width사이즈 설정하기 */
div, input, textarea {
  box-sizing : border-box;
}

/* body태그에 절로 생기는 여백제거 */
body {
  margin : 0;
	padding: 0;
}

/* 표(table)의 테두리와 셀(td)의 테두리 사이의 간격 제거. 겹치는 부분은 한 줄로 나타냄. */
table {
  border-collapse: collapse; 
}

td, th {
  border: 1px solid black;
}

/*------------------------*/


/*------------main-----------*/

.main-background {
  width: 100%;
  height: 550px;
  background-image: linear-gradient(to bottom, #499add, #4e61c0);
  color: white;
  padding: 50px;
}

.main-container {
  max-width: 1200px;
  margin: auto;
}

.main-text {
  margin-top: 50px;
  float: left;
}

.main-iphone {
  width: 400px;
  float: right;
  margin-top: 65px;
}

.btn {
  padding: 15px 20px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  margin-top: 10px;
}

.btn-black {
  background: #444444;
  color: white;
}

.btn-black:hover {
  background: #e98fe9;
  color: black;
}


/*------------Show Portfolio-----------*/


.show-container {
  text-align: center;
  padding-top: 50px;
  height: 250px;
}


/*------------Services-----------*/

.service {
  background-color: #4e60c0;
  width: 100%;
  text-align: center;
  color: white;
  padding: 60px 30px 60px 30px;
}

.service-container {
  margin-bottom: 40px;
}

.service-items {
  display: flex;
}

.service-items div {
  width: 100%;
}

.service-items i {
  background: white;
  color: #4e61c0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 35px;
  font-size: 30px;
}




/*-----------portfolio-----------*/

.portfolio {
  width: 100%;
  text-align: center;
  padding: 60px 30px 60px 30px;
}

.portfolio-container {
  text-align: left;
  max-width: 1200px;
  margin: auto;
}

.portfolio-text {
  color: white;
  padding: 50px;
  width: 100%;
}



.portfolio-item1 {
  float: left;
  width: 50%;
  height: 350px;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/portfolio-1.jpg);
  background-size: cover;
  position: relative;
}


.portfolio-item2 {
  float: left;
  width: 50%;
  height: 350px;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/portfolio-2.jpg);
  background-size: cover;
  position: relative;
}

.portfolio-item3 {
  float: left;
  width: 50%;
  height: 350px;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/portfolio-3.jpg);
  background-size: cover;
  position: relative;
}

.portfolio-item4 {
  float: left;
  width: 50%;
  height: 350px;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/portfolio-4.jpg);
  background-size: cover;
  position: relative;
}


/* 애니메이션을 위한 추가 div박스 생성 */
.white-box {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  border: 0px solid white;
}

.white-box:hover {
  border: 30px solid white;
  transition: 0.4s;
}

/*------------footer-----------*/

footer {
  display: flex;
  text-align: center;
  width: 100%;
  padding: 60px 30px 60px 30px;
}

.footer-container {
  width: 100%;
}

.footer-items div {
  width: 100%;
}

footer i {
  background: #4e61c0;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 15px;
  margin: 20px;
  font-size: 20px;
  box-sizing: border-box;
}


/*------------media Query-----------*/


@media screen and (max-width: 768px) {
  .main-text {
    text-align: center;
    float: none;
    margin-top: 50px;
  }
  .main-iphone {
    width: 250px;
    float: none;
    display: block;
    margin: auto;
    margin-top: 38px;
  }
  .service-items {
    display: flex;
    flex-direction: column;
  }

  .service-items div {
    width: 100%;
    margin-bottom: 10px;
  }

  .portfolio-item1 {
    float: none;
    width: 100%;
  }

  .portfolio-item2 {
    float: none;
    width: 100%;
  }

  .portfolio-item3 {
    float: none;
    width: 100%;
  }

  .portfolio-item4 {
    float: none;
    width: 100%;
  }
}


}