/* selector에서 콤마(,)쓰면 중복선택가능 
ex) 태그나 클래스명도 콤마로 사용가능 div, input, .name */

div, input, textarea {
  box-sizing : border-box;
}

body {
  margin : 0;
	padding: 0;
  font-family: gulim;
  transform: rotate(0.03deg);
}


html {
  line-height : 1.15; /*기본 행간 높이*/
}

table {
  border-collapse: collapse;
}


td, th {
  border: 1px solid black;
}


/*------------------------*/

  /* 가로정렬하고 싶을때 사용 가능한것
  1. display: inline-block;
  2. float: left;
  3. display: flex; */

  .product-container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
  }
  
  .product-container div {
    float: left;
    width: 20%;
    text-align: center;
    background-color: pink;
    border-radius: 5px;
    margin: 6px;
    padding: 10px;
  }
  
  
/* 미디어 쿼리 문법은 항상 밑에 있어야 잘 작동됨 */
@media screen and (max-width: 1200px){
  .product-container {
    max-width: 700px;
  }
  .product-container div {
    width: 50%;
  }
}


@media screen and (max-width: 768px){
  .product-container {
    max-width: 400px;
  }
  .product-container div {
    width: 70%;
  }
}


/* @media screen and (max-width: 576px){
  
} */

/* 부트스트랩을 쓰면 더 많은 미디어쿼리를 사용해서 반응형 컬럼을 더 많이 만들 수 있음 */
